[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"
pydocstyle = "*"

[packages]
django = "*"
coverage = "*"
coveralls = "*"
django-heroku = "*"
psycopg2 = "==2.8.4"
gunicorn = "*"
psycopg2-binary = "*"
django-ckeditor = "*"
djangorestframework = "*"
django-cors-headers = "*"

[requires]
python_version = "3.7"
